@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import 'reset.css';
@import 'header.css';
@import 'nav.css';
@import 'search-bar.css';
@import 'friends.css';

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
}
